@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=Manrope:wght@400;500;600;700;800&family=Playfair+Display:ital,wght@0,600;0,700;1,600&display=swap');
@import '@ngxpert/hot-toast/styles.css';
@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  background-color: #f6f4ee;
  color: #20211e;
}

* {
  box-sizing: border-box;
}
